@{
    ViewBag.Title = "个人中心";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Content/scripts/plugins/jquery.md5.js"></script>
<script src="~/Content/scripts/plugins/uploadify/ajaxfileupload.js"></script>
<script>
    var keyValue = '@ViewBag.userId';
    $(function () {
        InitialPage();
        InitControl();
        RevisePasswordPanel();
    });
    //初始化数据
    function InitControl() {
        $.SetForm({
            url: "../../BaseManage/User/GetFormJson",
            param: { keyValue: keyValue },
            success: function (data) {
                if (data != null)
                {
                    $("#layout").SetWebControls(data);
                    if (data.OrganizeId) {
                        $("#CompanyName").val(top.clientorganizeData[data.OrganizeId].FullName);
                    }
                    if (data.DepartmentId) {
                        $("#DepartmentName").val(top.clientdepartmentData[data.DepartmentId].FullName);
                    }
                    if (data.RoleId) {
                        $("#RoleName").val(top.clientroleData[data.RoleId].FullName);
                    }
                    if (data.Birthday) {
                        $("#Birthday").val(formatDate(data.Birthday, 'yyyy-MM-dd'));
                    }
                    if (data.HeadIcon) {
                        document.getElementById('uploadPreview').src = top.contentPath + data.HeadIcon;
                    }
                }
            }
        });
    }
    //初始化页面
    function InitialPage() {
        //layout布局
        $('#layout').layout({
            applyDemoStyles: true,
            onresize: function () {
                $(window).resize()
            }
        });
        $('.profile-nav').height($(window).height() - 20);
        $('.profile-content').height($(window).height() - 20);
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('.profile-nav').height($(window).height() - 20);
                $('.profile-content').height($(window).height() - 20);
            }, 200);
            e.stopPropagation();
        });
        $('#uploadFile').change(function () {
            var f = document.getElementById('uploadFile').files[0]
            var src = window.URL.createObjectURL(f);
            document.getElementById('uploadPreview').src = src;

            //上传应用图标
            $.ajaxFileUpload({
                url: "/PersonCenter/UploadFile",
                secureuri: false,
                fileElementId: 'uploadFile',
                dataType: 'json',
                success: function (data) {
                    dialogMsg(data.message, 1);
                }
            });
        });
    }
    //侧面切换显示/隐藏
    function profileSwitch(id) {
        $(".profile-content").find('.flag').hide()
        $(".profile-content").find("#" + id).show();
        if (id == 'SystemLog') {
            GetSystemLogGrid();
        }
    }
    //修改密码
    function RevisePasswordPanel() {
        var chePassword = false;
        $("#VerifyCodeImag").click(function () {
            $("#VerifyCode").val('');
            $("#VerifyCodeImag").attr("src", "@Url.Content("~/Login/VerifyCode")?time=" + Math.random());
        })
        $("#OldPassword").blur(function () {
            $("#OldPassword").parent().find('div').html("");
            if ($(this).val() == "") {
                return false;
            }
            $.ajax({
                url: "@Url.Content("~/PersonCenter/ValidationOldPassword")",
                data: { OldPassword: $(this).val() },
                type: "post",
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.type == 1) {
                        chePassword = true;
                        $("#OldPassword").parent().find('div').html("<div class=\"form-succeed-text\">" + data.message + "</div>")
                    } else {
                        $("#OldPassword").parent().find('div').html("<div class=\"form-error-text\">" + data.message + "</div>")
                    }
                }
            });
        });
        $("#NewPassword").blur(function () {
            $("#NewPassword").parent().find('div').html("");
            if ($(this).val() == "") {
                return false;
            }
            if ($(this).val() == $("#OldPassword").val()) {
                $("#NewPassword").parent().find('div').html("<div class=\"form-error-text\">新密码不能与旧密码相同</div>")
            } else {
                $("#NewPassword").parent().find('div').html("<div class=\"form-succeed-text\"></div>")
            }
        });
        $("#RedoNewPassword").blur(function () {
            $("#RedoNewPassword").parent().find('div').html("")
            if ($(this).val() == "") {
                return false;
            }
            if ($(this).val() != $("#NewPassword").val()) {
                $("#RedoNewPassword").parent().find('div').html("<div class=\"form-error-text\">您两次输入的密码不一致！</div>")
            } else {
                $("#RedoNewPassword").parent().find('div').html("<div class=\"form-succeed-text\"></div>")
            }
        });
        $("#VerifyCode").blur(function () {
            $(".VerifyCodemsg").html("")
            if ($(this).val() == "") {
                return false;
            }
        });
        //提交
        $("#btn_RevisePassword").click(function () {
            var OldPassword = $("#OldPassword").val();
            var NewPassword = $("#NewPassword").val();
            var RedoNewPassword = $("#RedoNewPassword").val();
            var VerifyCode = $("#VerifyCode").val();
            if (OldPassword == "") {
                $("#OldPassword").parent().find('div').html("<div class=\"form-error-text\">请输入登陆密码</div>");
                return false;
            }
            if (NewPassword == "") {
                $("#NewPassword").parent().find('div').html("<div class=\"form-error-text\">请输入新密码</div>");
                return false;
            }
            if (RedoNewPassword == "") {
                $("#RedoNewPassword").parent().find('div').html("<div class=\"form-error-text\">请输入重复新密码</div>");
                return false;
            }
            if (VerifyCode == "") {
                $(".VerifyCodemsg").html("<div class=\"form-error-text\">请输入验证码</div>");
                return false;
            }
            if (!chePassword) {
                $("#OldPassword").parent().find('div').html("<div class=\"form-error-text\">原密码错误，请重新输入</div>");
                return false;
            }
            if (confirm('注：请牢记当前设置密码，您确认要修改密码？')) {
                Loading(true, "正在提交数据...");
                window.setTimeout(function () {
                    var postData = {
                        password: $.md5($("#NewPassword").val()),
                        oldPassword: $.md5($("#OldPassword").val()),
                        verifyCode: $("#VerifyCode").val()
                    }
                    $.ajax({
                        url: "@Url.Content("~/PersonCenter/SubmitResetPassword")",
                        data: postData,
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            if (data.type == 1) {
                                alert(data.message)
                                top.location.href = "@Url.Content("~/Login/Index")";
                            } else {
                                $("#VerifyCodeImag").trigger("click");
                                $(".VerifyCodemsg").val('');
                                $(".VerifyCodemsg").html("<div class=\"form-error-text\">" + data.message + "</div>");
                            }
                            Loading(false);
                        }
                    });
                }, 200);
            }
        })
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="west-Panel" style="margin: 0;">
            <div class="profile-nav">
                <ul style="padding-top: 20px;">
                    <li class="active" onclick="profileSwitch('BaseInfo')">基本信息</li>
                    <li onclick="profileSwitch('MyheadIcon')">我的头像</li>
                    <li onclick="profileSwitch('RevisePassword')">修改密码</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel" style="margin: 0;">
            <div class="profile-content" style="background: #fff;">
                <div id="BaseInfo" class="flag">
                    <div class="title">
                        基本信息
                    </div>
                    <table class="form" style="margin-top: 20px;">
                        <tr>
                            <td class="formTitle">账号</td>
                            <td class="formValue">
                                <input id="Account" readonly type="text" class="form-control input-profile" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">姓名</td>
                            <td class="formValue">
                                <input id="RealName" readonly type="text" class="form-control input-profile" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">性别</td>
                            <td class="formValue">
                                <div class="radio">
                                    <label>
                                        <input name="Gender" disabled type="radio" checked="checked" value="1" />
                                        男
                                    </label>
                                    <label>
                                        <input name="Gender" disabled type="radio" value="0" />
                                        女
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">生日</td>
                            <td class="formValue">
                                <input id="Birthday" readonly type="text" class="form-control input-wdatepicker input-profile" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">手机</td>
                            <td class="formValue">
                                <input id="Mobile" readonly type="text" class="form-control input-profile" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">所属</td>
                            <td class="formValue">
                                <input id="CompanyName" readonly type="text" class="form-control input-profile" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">分类</td>
                            <td class="formValue">
                                <input id="DepartmentName" readonly type="text" class="form-control input-profile" />
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="formTitle">角色</td>
                            <td class="formValue">
                                <input id="RoleName" readonly type="text" class="form-control input-profile" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle" valign="top" style="padding-top: 4px;">备注</td>
                            <td class="formValue">
                                <textarea id="Description" class="form-control input-profile" style="height: 70px;"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="MyheadIcon" class="flag" style="display: none;">
                    <div class="title">
                        我的头像
                    </div>
                    <div style="width: 300px;">
                        <div style="margin-top: 40px; text-align: center;">
                            <div class="file" style="width: 100px; height: 100px;">
                                <img id="uploadPreview" style="width: 100px; height: 100px; border-radius: 100px;" src="~/Content/images/logo-headere47d5.png" />
                                <input type="file" name="uploadFile" id="uploadFile">
                            </div>
                            <div style="margin-top: 30px; line-height: 14px; color: #75777A; text-align: center;">
                                建议上传图片尺寸为100x100，大小不超过2M。
                            </div>
                        </div>
                    </div>
                </div>
                <div id="RevisePassword" class="flag" style="display: none;">
                    <div class="title">
                        修改密码
                    </div>
                    <table class="form" style="margin-top: 20px;">
                        <tr>
                            <td class="formTitle" style="height: 20px;"></td>
                            <td>
                                <p style="color: #959393; padding-left: 8px;">为了保护您的帐号安全，操作前请您进行安全验证</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">旧密码<font face="宋体">*</font></td>
                            <td class="formValue">
                                <input id="OldPassword" type="password" class="form-control input-profile" style="float: left;" />
                                <div style="width: 300px; float: left"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">新密码<font face="宋体">*</font></td>
                            <td class="formValue">
                                <input id="NewPassword" type="password" class="form-control input-profile" style="float: left;" />
                                <div style="width: 300px; float: left"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">重复新密码<font face="宋体">*</font></td>
                            <td class="formValue">
                                <input id="RedoNewPassword" type="password" class="form-control input-profile" style="float: left;" />
                                <div style="width: 300px; float: left"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">验证码<font face="宋体">*</font></td>
                            <td class="formValue">
                                <div style="float: left;">
                                    <input id="VerifyCode" maxlength="4" type="text" class="form-control input-profile" style="width: 100px;" />
                                </div>
                                <div style="float: left; width: 200px;">
                                    <img src="~/PersonCenter/VerifyCode" id="VerifyCodeImag" width="100" height="30" alt="点击切换验证码"
                                        title="点击切换验证码" style="cursor: pointer; padding-top: 2px; padding-left: 5px;" />
                                </div>
                                <div class="VerifyCodemsg" style="width: 300px; float: left"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle"></td>
                            <td class="formValue">
                                <br />
                                <a id="btn_RevisePassword" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;提&nbsp;交</a>
                            </td>
                        </tr>
                    </table>
                </div>
                @*<div id="SafetyVerify" class="flag" style="display: none;">
                    <div class="title">
                        安全验证
                    </div>
                </div>
                <div id="SetLanguage" class="flag" style="display: none;">
                    <div class="title">
                        语言设置
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
<style>
    .file {
        position: relative;
        display: inline-block;
        overflow: hidden;
        text-decoration: none;
        text-indent: 0;
        cursor: pointer !important;
    }

        .file input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
            cursor: pointer !important;
        }

        .file:hover {
            text-decoration: none;
            cursor: pointer !important;
        }
</style>
