@{;
    ViewBag.Title = "贷款申请:列表页面";
    Layout = "~/Views/Shared/_LayoutIndexEasyui.cshtml";
}
<script>
    ;
    $(function () {
        GetGrid();
    });
    //加载表格
    function GetGrid() {
        //加载表格grid
        var $gridTable = $('#gridTable');
        $gridTable.datagrid({
            fit: true,
            idField: 'id',
            rownumbers: true,
            emptyMsg: '<div style="color:red; padding:4px; border-bottom:#ccc 1px solid;">无相关数据!</div>',
            sortName: 'CreateDate',
            sortOrder: 'desc',
            singleSelect: true,
            nowrap: true,
            pagination: true,
            pageSize: 100,
            pageList: [100, 500, 1000, 3000],
            url: "../../CreditManage/CreditMoney/GetDataGridJson",
            queryParams: getSoSo(),
            columns: [[
                { title: '申请ID', field: 'id', checkbox: true },
                { title: '用户ID', field: 'userID', width: 80, align: 'left', sortable: true, hidden: true },
                { title: '姓名', field: 'userName', width: 80, align: 'left', sortable: true, hidden: false },
                { title: '身份证', field: 'carCode', width: 110, align: 'left', sortable: true, hidden: false },

                {
                    title: '申请日期', field: 'opeTime', width: 80, align: 'left', sortable: true, hidden: false,
                    formatter: function (value, row, index) { return formatDate(value, 'yyyy-MM-dd'); }
                },
                { title: '贷款年限', field: 'daiYear', width: 60, align: 'left', sortable: true, hidden: false },
                { title: '抵押物', field: 'diYaMoney', width: 80, align: 'left', sortable: true, hidden: false },
                { title: '贷款金额', field: 'daiMoney', width: 80, align: 'left', sortable: true, hidden: false },
                { title: '年收入', field: 'yearMoney', width: 70, align: 'left', sortable: true, hidden: false },
                { title: '文件地址', field: 'filesPath', width: 80, align: 'left', sortable: true, hidden: true },

                { title: '备注', field: 'strMemo', width: 80, align: 'left', sortable: true, hidden: false },


                { title: '创建人时间', field: 'CreateDate', width: 130, align: 'left', sortable: true, hidden: false },
                { title: '创建人ID', field: 'CreateUserId', width: 80, align: 'left', sortable: true, hidden: true },
                { title: '创建人', field: 'CreateUserName', width: 80, align: 'left', sortable: true, hidden: false },
                { title: '修改时间', field: 'ModifyDate', width: 130, align: 'left', sortable: true, hidden: false },
                { title: '修改人ID', field: 'ModifyUserId', width: 80, align: 'left', sortable: true, hidden: true },
                { title: '修改人', field: 'ModifyUserName', width: 80, align: 'left', sortable: true, hidden: false }

            ]],
        });
        //$gridTable.authorizeColModel();//列表数据权限
        //点击时间范围（今天、近7天、近一个月、近三个月）
        $("#time_horizon a.btn-default").click(function () {
            $("#time_horizon a.btn-default").removeClass("active");
            $(this).addClass("active");
            switch ($(this).attr('data-value')) {
                case "1"://今天
                    $("#StartTime").val("@DateTime.Now.ToString("yyyy-MM-dd")");
                    $("#EndTime").val("@DateTime.Now.ToString("yyyy-MM-dd")");
                    break;
                case "2"://近7天
                    $("#StartTime").val("@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")");
                    $("#EndTime").val("@DateTime.Now.ToString("yyyy-MM-dd")");
                    break;
                case "3"://近一个月
                    $("#StartTime").val("@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd")");
                    $("#EndTime").val("@DateTime.Now.ToString("yyyy-MM-dd")");
                    break;
                case "4"://近三个月
                    $("#StartTime").val("@DateTime.Now.AddMonths(-3).ToString("yyyy-MM-dd")");
                    $("#EndTime").val("@DateTime.Now.ToString("yyyy-MM-dd")");
                    break;
                default:
                    break;
            }
            $("#SelectedStartTime").html($("#StartTime").val());
            $("#SelectedEndTime").html($("#EndTime").val());
            $('#btn_Search').trigger("click");
        });
        //查询点击事件
        $("#btn_Search").click(function () {
            if (!$(".ui-filter-text").next('.ui-filter-list').is(":hidden")) {
                $(".ui-filter-text").trigger("click");
            }
            $("#SelectedStartTime").html($("#StartTime").val());
            $("#SelectedEndTime").html($("#EndTime").val());
            $gridTable.datagrid('uncheckAll');
            $gridTable.datagrid('unselectAll');
            $gridTable.datagrid('load', getSoSo());
            //$gridTable.datagrid('load', {
            //    splitPage: $("#filter-form").setQueryParmsAll()
            // });
        });
    }
    function getSoSo() {
        var soso = $("#searchbar").getQueryParmsAll();
        var len = soso.Conditions.length ? soso.Conditions.length : 0;
        //soso.Conditions[len] = { Key: "", isLike: false, Value: "" };
        //soso.signs=1;
        return soso;
    }
    //新增
    function btn_add() {
        dialogOpen({
            id: 'Form',
            title: '添加贷款申请',
            url: '../../CreditManage/CreditMoney/CreditMoneyForm',
            width: '800px',
            height: '550px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }


    //编辑
    function btn_edit() {
        var keyValue = $('#gridTable').easyUiGridRowValue('id');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑贷款申请',
                url: '../../CreditManage/CreditMoney/CreditMoneyForm?keyValue=' + keyValue,
                width: '800px',
                height: '550px',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function btn_delete() {
        var keyValue = $('#gridTable').easyUiGridRowValue('id');
        if (keyValue) {
            $.RemoveForm({
                url: '../../CreditManage/CreditMoney/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').datagrid('reload');
                }
            })
        } else {
            dialogMsg('请选择需要删除的贷款申请！', 0);
        }
    }
</script>
@*------------------------------JavaScript方法结束------------------------------*@
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region: 'north', border: false" style="height: 60px; overflow: hidden;">
        <div class="titlePanel">
            <div class="title-search" style="position:fixed;">
                <table>
                    <tr>
                        <td>查询条件</td>
                        <td style="padding-left: 10px; ">
                            <div class="ui-filter" style="width: 200px;">
                                <div class="ui-filter-text">
                                    <strong id="SelectedStartTime">@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")</strong>至
                                    <strong id="SelectedEndTime">@DateTime.Now.ToString("yyyy-MM-dd")</strong>
                                </div>
                                <div id="searchbar" class="ui-filter-list" style="width: 350px;">
                                    <form>
                                        <table class="form" id="filter-form">
                                            <tr>
                                                <th class="formTitle">创建日期：</th>
                                                <td class="formValue">
                                                    <input type="hidden" name="TimeString[0].Key" value="CreateDate" />
                                                    <div style="float: left; width: 45%;">
                                                        <input id="StartTime" name="TimeString[0].begionTime" readonly type="text"
                                                               value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")" class="form-control input-wdatepicker" onfocus="WdatePicker()">
                                                    </div>
                                                    <div style="float: left; width: 10%; text-align: center;">至</div>
                                                    <div style="float: left; width: 45%;">
                                                        <input id="EndTime" name="TimeString[0].endTime" readonly type="text"
                                                               value="@LeaRun.Util.Time.GetToday()" class="form-control input-wdatepicker" onfocus="WdatePicker()">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="formTitle">姓 名：</td>
                                                <td class="formValue">
                                                    <input type="hidden" name="Conditions[0].Key" value="userName" />
                                                    <input name="Conditions[0].Value" type="text" class="form-control">
                                                    <input type="hidden" name="Conditions[0].IsLike" value="true" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="formTitle">身份证：</td>
                                                <td class="formValue">
                                                    <input type="hidden" name="Conditions[1].Key" value="carCode" />
                                                    <input name="Conditions[1].Value" type="text" class="form-control">
                                                    <input type="hidden" name="Conditions[1].IsLike" value="true" />
                                                </td>
                                            </tr>
                                        </table>
                                    </form>

                                    <div class="ui-filter-list-bottom">
                                        <a id="btn_Reset" class="btn btn-default">&nbsp;重&nbsp;&nbsp;置</a>
                                        <a id="btn_Search" class="btn btn-primary">&nbsp;查&nbsp;&nbsp;询</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="padding-left: 10px; ">
                            <div id="time_horizon" class="btn-group">
                                <a class="btn btn-default" data-value="1">今天</a>
                                <a class="btn btn-default active" data-value="2">近7天</a>
                                <a class="btn btn-default" data-value="3">近1个月</a>
                                <a class="btn btn-default" data-value="4">近3个月</a>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>

            <div class="toolbar">
                <div class="btn-group">
                    <a id="lr-replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                    <a id="lr-add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
                    <a id="lr-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
                    <a id="lr-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>

                </div>
                @*<script>$('.toolbar').authorizeButton()</script>*@
            </div>
        </div>
    </div>
    <div data-options="region:'center',border: false">
        <table id="gridTable"></table>
    </div>
</div>
